.Tienda {
    background-color: rgb(211, 211, 211);
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 80%;
    margin: auto;
}
nav .navbar-nav li a{
    color: white !important;
}

.footer{
    background-color: #263238;
    text-align: center;
    color: whitesmoke;
   
   
}

a:link {
    color: rgb(196, 196, 196);
    }
    a:visited {
    color: #999999;
    }
    a:hover {
    color:rgb(179, 171, 171);
    }

    .navbar-brand {
       
        width: 120%;
       
        text-align: center;
        
        
    }
