.Pedido {
    width: 400px;
    padding: 16px;
    text-align: center;
    background-color:rgb(250, 250, 250);
    box-shadow: 0 6px 7px #ccc;
    margin: 10px;
   
    cursor: pointer;
}

.Pedido:hover,
.Pedido:active {
    background-color:rgb(230, 230, 230);
    color: rgb(0, 0, 0);
}

.Price {
    font-size: x-large;
    color: rgb(247, 71, 71);
    position: relative;
    left: 35px;
}